.container
  .row
    .page-header.clearfix
      h1= title
      .col-md-4
        small 老苏站点
      .col-md-8
        form(action="/results", method='GET')
          .input-group.col-sm-4.pull-right
            input.form-control(name='q', type='text')
            span.input-group-btn
              button.btn.btn-default(type='submit') 搜索
      
.navbar.navbar-default.navbar-fixed-bottom
  .container
    .navbar-header
      a.navbar-brand(href="/") 老苏站点
    if user
      p.navbar-text.navbar-right
        span 欢迎您, #{user.name}
        span &nbsp; | &nbsp;
        a.navbar-link(href="/logout") 登出
    else
      p.navbar-text.navbar-right
        a.navbar-link(data-target="#signupModel", data-toggle="modal", href="#") 注册
        span &nbsp; | &nbsp;
        a.navbar-link(data-target="#signinModel", data-toggle="modal", href="#") 登录
#signupModel.modal.fade
  .modal-dialog
    .modal-content
      form(action="/user/signup" method="POST")
        .modal-header 注册
          .modal-body
            .form-group
              label(for="signupName") 用户名
              input#signupName.form-control(name="name", type="text")
            .form-group
              label(for="signupPassword") 密码
              input#signupPassword.form-control(name="password", type="text")
          .modal-footer
            button.btn.btn-default(data-dismiss="modal", type="button") 关闭
            button.btn.btn-success(type="submit") 提交

#signinModel.modal.fade
  .modal-dialog
    .modal-content
      form(action="/user/signin" method="GET")
        .modal-header 登录
          .modal-body
            .form-group
              label(for="signinName") 用户名
              input#signinName.form-control(name="name", type="text")
            .form-group
              label(for="signinPassword") 密码
              input#signinPassword.form-control(name="password", type="password")
          .modal-footer
            button.btn.btn-default(data-dismiss="modal", type="button") 关闭
            button.btn.btn-success(type="submit") 提交